<h1>Timeline Creator</h1>


<%= link_to 'People', people_path %>
<%= link_to 'Times', relative_time_spaces_path %>
<%= link_to 'Events', eventiods_path %>

<%= link_to 'Celestial Bodies', celestial_bodies_path %>
